.containedRegister{
    height: 1000px;
display: flex !important;
justify-content: center !important;
align-items: center !important;
;
}
 
.contanerRegister-grid{
    display: grid;
    grid-template-rows: 33% 33% 33%;
    max-width: 100%;
    height: 30em;
}
.title{display: flex;
justify-content: center;}

.title h2{
    font-size: 40px;
    color: rgb(46, 45, 45);
}


.buttonAndlabel{
    display: grid;
    grid-template-rows: 50% 50%;
    height: 120px;
    width: 160px;
}
.cotainerButtonAndlabel{
    display: flex;
    justify-content: center;
}

.inputs{
    display: flex;
    justify-content: center;
    height: 140px;
    width:65em;
    display: grid;
    grid-template-columns: 50%;
}
.buttonAndlabel label{
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: rgb(147, 145, 145);
    margin-top: 20px;
}

.contanerRegister-item div input
{
    font-family: 'Dosis', sans-serif !important;
}