.icon a{
color:black ;
  text-decoration: none !important;
}
.icon a:focus{
    color: black;
}
.nav{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 10px;
padding-right: 10px;
}
.nav a{
    color:black ;
  text-decoration: none !important;
}
.nav a:focus{
    color:black ;
}